@model Aion.Models.Utils.LoginVm

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Dixons Carphone Reporting" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        Please Sign In
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Login", "Profile", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @if (ViewBag.errorMessage != null)
                                {
                                    <ul>
                                        <li class="text-danger">@ViewBag.errorMessage</li>
                                    </ul>
                                }
                                <input hidden type="text" name="ReturnUrl" value="" />
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "UserName", autoFocus = "" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", value = "", type = "password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <input type="submit" value="Log In" class="btn btn-lg btn-success btn-block" />
                            </fieldset>
                        }
                        <br />
                        <p class="text-center">
                            If you experience problems logging in, please use the self service page <a href="https://passwordreset.cpwplc.com/passwordreset/" target="_blank"><strong><u>here</u></strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")