@model Aion.Areas.WFM.ViewModels.Deployment.HolidayPlanningVm

@{
    Func<char, string> ragFormat = (c) =>
    {
        string result = "table-success";
        if (c == 'R')
        {
            result = "table-danger";
        }
        else if (c == 'A')
        {
            result = "table-warning";
        }
        return result;
    };
}

<div class="card">
    <div class="card-header text-center">
        <strong>Detail Breakdown</strong>
    </div>
    <div class="card-body">
        <p class="text-center">
            The RAG status reflects your current team's holiday usage against how much they should have taken by this point in the year.<br>
            <span style="font-size:small">
                <strong style="color:green">Green: </strong>Looking good<br>
                <strong style="color:orange">Amber: </strong>Could be better, discuss with the colleague their plans for holiday<br>
                <strong style="color:red">Red: </strong>This is a problem, discuss the colleague's holiday plan to ensure they are fully utilising their holiday at non-peak times of the year<br>
            </span>
        </p>
        <table class="table table-bordered table-sm" style="table-layout: fixed;">
            <thead class="thead-blue">
            <tr>
                <th class="text-center" rowspan="2">Store</th>
                <th class="text-center" colspan="4">Year To Date <small>(exlcudes future planned)</small></th>
                <th class="text-center" rowspan="2">Planned</th>
            </tr>
            <tr>
                <th class="text-center">Holiday Remaining (Hrs)</th>
                <th class="text-center">Holiday Taken</th>
                <th class="text-center">Ideal Taken <small>(approx.)</small></th>
                <th class="text-center">RAG</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.RollupCollection.Where(x => x.StoreNumber != null))
            {
                var _rag = Model.RAG(item);
                <tr>
                    <td>@string.Format("{0} - {1}", item.StoreNumber, item.StoreName)</td>
                    <td class="text-center">@item.Balance</td>
                    <td class="text-center">@item.Taken</td>
                    <td class="text-center">@string.Format("{0:0}", (item.Balance + item.Taken) * Model.PercToTake)</td>
                    <td class="text-center @(ragFormat(_rag))" )>@_rag</td>
                    <td class="text-center">@item.Scheduled</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
