@model Aion.Areas.WFM.ViewModels.Deployment.DeploymentSummaryVm

<div class="container-fluid mt-3">
    <table class="table table-bordered table-sm" style="table-layout: fixed;">
        <thead class="thead-blue">
            <tr>
                <th class="text-center" rowspan="2">Week</th>
                <th class="text-center" colspan="3">SOH Spend</th>
            </tr>
            <tr>
                <th class="text-center">Budget</th>
                <th class="text-center">Actual</th>
                <th class="text-center">Var</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var week in Model.WeekNumbers)
        {
            var storeData = Model.collection.First(x => x.WeekNumber == week);
            <tr>
                @if (week != null)
                {
                    <td>@string.Format("Week {0}", week.ToString().Substring(4))</td>
                }
                else
                {
                    <td><strong>Period Total</strong></td>
                }
                <td class="text-center">@string.Format("{0:#,#}", storeData.SOHBudget)</td>
                <td class="text-center">@string.Format("{0:#,#}", storeData.SOHSpend)</td>
                <td class="text-center">@string.Format("{0:#,#}", storeData.Variance) <small>@string.Format("({0:0.0}%)", storeData.ToBudget * 100)</small></td>
            </tr>
        }
        </tbody>
    </table>
</div>


