@model Aion.Areas.Admin.ViewModels.Recruitment.ToPostVm

@if (Model.RequestDetail.Count == 0)
{
    <div class="alert alert-info text-center"><strong>This request has already been completed</strong></div>
}
else
{
    if (Model.RequestDetail.FirstOrDefault().PostedBy == "On Hold")
    {
        <div class="row justify-content-center mb-2">
            <strong style="font-size:large;" class="text-warning">On Hold Since: @Model.RequestDetail.FirstOrDefault().PostedDate</strong>
        </div>
    }
    <table class="table table-bordered table-sm table-smtxtperm text-center">
        <thead>
            <tr>
                <th>Chain</th>
                <th>Store#</th>
                <th>JobCode</th>
                <th>Position</th>
                <th>Heads</th>
                <th>Contract</th>
                <th>Total Hours</th>
                <th>Replace</th>
                <th>Repost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RequestDetail)
            {
                <tr>
                    <td>@item.Chain</td>
                    <td>@item.StoreNumber</td>
                    <td>@item.VacancyPosition.SFPositionId</td>
                    <td>@item.VacancyPosition.SFName</td>
                    <td>@item.Heads</td>
                    <td>@item.ContractHrs</td>
                    <td>@(item.Heads * item.ContractHrs)</td>
                    <td>@(item.Replace ? "Yes" : "No")</td>
                    <td>@(item.Repost ? "Yes" : "No")</td>
                </tr>
            }
            @if (Model.RequestDetail.Count > 1)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>@Model.RequestDetail.Sum(x => x.Heads)</strong></td>
                    <td><strong>@string.Format("{0}-{1}", Model.RequestDetail.Min(x => x.ContractHrs), Model.RequestDetail.Max(x => x.ContractHrs))</strong></td>
                    <td><strong>@Model.RequestDetail.Sum(x => x.Heads * x.ContractHrs)</strong></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
    <strong>
        Raised by: @Model.RequestDetail.FirstOrDefault().RaisedBy
    </strong>
    if (Model.RequestDetail.First().RequestComments.Count() > 0)
    {
        <br />
        <strong>Supporting Comments:</strong>
        <p class="border border-left p-2 mt-1 rounded">
            @foreach (var item in Model.RequestDetail.First().RequestComments.Where(x => x.CommentType == "Notes"))
            {
                <span>@item.Comment</span>
            }
        </p>
    }
    <hr />
    if (Model.OpenVacancys.Count > 0)
    {
        <table class="table table-bordered table-sm text-center" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th colspan="5">
                        Existing Vacancy
                    </th>
                </tr>
                <tr>
                    <th>Total HC</th>
                    <th>Remaining</th>
                    <th>Offered</th>
                    <th>Onboarding</th>
                    <th>Started</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OpenVacancys)
                {
                    <tr>
                        <td>@(item.Remaining + item.Offer + item.Onboarding + item.Started)</td>
                        <td>@item.Remaining</td>
                        <td>@item.Offer</td>
                        <td>@item.Onboarding</td>
                        <td>@item.Started</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    }
    <form id="frm">
        <input id="mChain" value="@Model.RequestDetail.FirstOrDefault().Chain" hidden/>
        <input id="mStore" value="@Model.RequestDetail.FirstOrDefault().StoreNumber" hidden/>
        <input id="mJobCode" value="@Model.RequestDetail.FirstOrDefault().PositionCode" hidden/>
        <div class="form-group">
            <label>SF Reference #</label>
            <input id="mRef"/>
        </div>
        <div class="form-group">
            <label>Contract Type</label>
            <select id="mType" class="form-control">
                <option value="Permanent">Permanent</option>
                <option value="Fixed Term Contract">Fixed Term Contract</option>
                <option value="Apprenticeship">Apprenticeship</option>
                <option value="Fixed Term Contract - Peak">Fixed Term Contract - Peak</option>
            </select>
        </div>
    </form>
    <form id="frmUnapprove" action="/Admin/Recruitment/UnapproveToPost" method="post">
        @foreach (var item in Model.RequestDetail)
        {
            <input name="chain" value="@Model.RequestDetail.FirstOrDefault().Chain" hidden />
            <input name="store" value="@Model.RequestDetail.FirstOrDefault().StoreNumber" hidden />
            <input name="jobcode" value="@Model.RequestDetail.FirstOrDefault().PositionCode" hidden />
        }
    </form>
}
