@model Aion.Areas.WFM.ViewModels.Deployment.GMPowerHoursVm

@{
    ViewBag.Title = "Power Hours";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header text-center">
            <strong>GM Power Hours</strong>
        </div>
        <div class="card-body">
            @if (Model.ManualSelect.Length > 0)
            {
                <h4>@Model.ManualSelect</h4>
            }
            @*<h4>@string.Format("{0} - {1} : Week {1}", Model.collection.First().StoreNumber, Model.collection.First().StoreName, Model.collection.First().Week)</h4>*@
            <h4>@string.Format("Power Hours worked : {0:0.#}%", Model.complianceScore)</h4>
            <table id="powerHours" class="table table-bordered table-sm table-sm-smtxt text-center col-12" style="table-layout:fixed;">
                <thead class="thead-blue">
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">8</th>
                        <th class="text-center">9</th>
                        <th class="text-center">10</th>
                        <th class="text-center">11</th>
                        <th class="text-center">12</th>
                        <th class="text-center">13</th>
                        <th class="text-center">14</th>
                        <th class="text-center">15</th>
                        <th class="text-center">16</th>
                        <th class="text-center">17</th>
                        <th class="text-center">18</th>
                        <th class="text-center">19</th>
                        <th class="text-center">20</th>
                        <th class="text-center">21</th>
                        <th class="text-center">22</th>
                        <th class="text-center">23</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 7; i++)
                    {
                        var dayData = Model.collection.Where(x => x.Days == i).OrderBy(x => x.Hour);
                        <tr>
                            <td>@Model.GetName(i)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 8).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 8).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 8).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 9).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 9).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 9).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 10).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 10).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 10).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 11).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 11).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 11).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 12).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 12).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 12).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 13).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 13).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 13).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 14).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 14).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 14).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 15).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 15).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 15).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 16).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 16).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 16).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 17).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 17).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 17).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 18).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 18).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 18).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 19).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 19).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 19).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 20).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 20).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 20).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 21).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 21).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 21).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 22).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 22).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 22).Trade)</td>
                            <td class="@(dayData.FirstOrDefault(x => x.Hour.Hours == 23).Rank <= 20 ? (dayData.FirstOrDefault(x => x.Hour.Hours == 23).Working == 1 ? "table-success" : "table-danger") : "")">@string.Format("{0:0.0%}", dayData.FirstOrDefault(x => x.Hour.Hours == 23).Trade)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>