@model Aion.Areas.WFM.ViewModels.Deployment.DeploymentSummaryVm

@{
    ViewBag.Title = "Deployment Summary";
}

<div class="container-fluid">
    @if (Request.IsAuthenticated)
    {
        <div class="row justify-content-end mb-2">
            <div>
                @Html.Partial("~/Views/Shared/_selectMenu.cshtml")
            </div>
        </div>
    }
    <div class="card">
        <div class="card-header text-center">
            <strong>Deployment Summary</strong>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-center">
                <strong>Note: </strong>Figures for the previous week are published Tuesday AM <i><small>(Wednesday following BH)</small></i>
            </div>
            <div class="row justify-content-center mb-1">
                <div class="col-sm-4 col-11">
                    @using (Html.BeginForm("Summary", "Deployment", new { crit = Model.selectedDate }, FormMethod.Get))
                    {
                        @Html.DropDownList("c", Model.WeeksOfYear, new { onchange = "this.form.submit();", @class = "form-control" })
                    }
                </div>
            </div>
            @if (!Model.collection.Any())
            {
                <div class="alert alert-danger text-center"><strong>Reporting for the selected period has not yet been finalised, check back later.</strong></div>
            }
            else
            {
                if (Model.DisplayLevel == 1)
                {
                    @Html.Partial("~/Areas/WFM/Views/Deployment/Partials/_SummaryStore.cshtml")
                }
                else if (Model.DisplayLevel == 2)
                {
                    @Html.Partial("~/Areas/WFM/Views/Deployment/Partials/_SummaryRegion.cshtml")
                }
                else if (Model.DisplayLevel == 3)
                {
                    @Html.Partial("~/Areas/WFM/Views/Deployment/Partials/_SummaryDivision.cshtml")
                }
                else if (Model.DisplayLevel == 4)
                {
                    @Html.Partial("~/Areas/WFM/Views/Deployment/Partials/_SummaryChain.cshtml")
                }
            }
        </div>
    </div>
</div>

@*@section myScripts{
    <script type="text/javascript">
    $(function (){
        //Disable full page
        $('body').bind('cut copy paste', function (e) {
            e.preventDefault();
        });
    });
    </script>
}*@
