<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Request.Browser.Browser == "IE" || Request.Browser.Browser == "InternetExplorer")
    {
        <div class="row">
            <div class="alert alert-danger text-center" style="position:absolute; top:50%; width:80%; left:10%"><strong>The site is not optimised for older versions of Internet Explorer, please reopen in Chrome.</strong></div>
        </div>
        <div style="display:none;">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container body-content">
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light p-0">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="~/Images/WFMHeader_V6.gif" style="height:40px;" /></a>
                    <div class="float-right d-none d-md-block">
                        @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border p-0" style="top:50px;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <i class="icon ion-navicon-round"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            @if(ViewContext.RouteData.DataTokens["area"] == null)
                            {
                                Html.RenderPartial("~/Views/Shared/_RootMenu.cshtml");
                            }
                            else if (ViewContext.RouteData.DataTokens["area"].ToString() == "WFM")
                            {
                                Html.RenderPartial("~/Areas/WFM/Views/Shared/_WFMMenu.cshtml");
                            }
                            <li class="d-none d-sm-block d-md-none" role="separator"></li>
                            <li class="nav-item dropdown m-x-1 d-md-none">
                                @if (Request.IsAuthenticated)
                                {
                                    <a class="nav-link text-danger" href="@Url.Action("Logoff","Profile", new { area = "" })"><strong><i class="icon ion-log-out m-1"></i> Log Off</strong></a>
                                }
                                else
                                {
                                    <a class="nav-link text-success" href="@Url.Action("Login","Profile", new { area = "" })"><strong><i class="icon ion-log-in m-1"></i> Log In</strong></a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*<div class="row">
                    <nav aria-label="breadcrumb" role="navigation" class="col-9">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">@ViewContext.RouteData.DataTokens["area"].ToString()</li>
                            @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                            {
                                <li class="breadcrumb-item active">@ViewContext.RouteData.Values["controller"].ToString()</li>
                            }
                            @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
                            {
                                <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
                            }
                        </ol>
                    </nav>
                </div>*@

            @RenderBody()

            <hr />
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("myScripts", false)
</body>
</html>