@using Aion.Helpers
@using Aion.Models.Utils

@{ 
    var storeStub = HttpContext.Current.GetSessionObject<StoreStub>("_store");
    var loginID = HttpContext.Current.Session["_LoginID"] != null ? (int)HttpContext.Current.Session["_LoginID"] : 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("myStyles", false)
    <meta name="description" content="Dixons Carphone Reporting" />
</head>
<body>
    <div class="modal fade" id="notification" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="notificationBody" class="modal-body">
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light p-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="~/Images/WFMHeader_V6.gif" style="height:40px;" /></a>
                <div class="float-right d-none d-md-block">
                    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border border-right-0 p-0" style="top:50px;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <i class="icon ion-navicon-round"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (ViewContext.RouteData.DataTokens["area"] == null)
                        {
                            Html.RenderPartial("~/Areas/WFM/Views/Shared/_WFMMenu.cshtml");
                        }
                        else if (ViewContext.RouteData.DataTokens["area"].ToString() == "WFM")
                        {
                            Html.RenderPartial("~/Areas/WFM/Views/Shared/_WFMMenu.cshtml");
                        }
                        else
                        {
                            Html.RenderPartial("~/Areas/WFM/Views/Shared/_WFMMenu.cshtml");
                        }
                        <li class="d-none d-sm-block d-md-none" role="separator"></li>
                        <li class="nav-item dropdown m-x-1 d-md-none">
                            @if (Request.IsAuthenticated)
                            {
                                <a class="nav-link text-danger" href="@Url.Action("Logoff","Profile", new { area = "" })"><strong><i class="icon ion-log-out m-1"></i> Log Off</strong></a>
                            }
                            else
                            {
                                <a class="nav-link text-success" href="@Url.Action("Login","Profile", new { area = "" })"><strong><i class="icon ion-log-in m-1"></i> Log In</strong></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- INCLUDE ONLY IN RELEASE-->
    @*<script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-97493047-1', 'auto');
              ga('send', 'pageview', {
                  'dimension3': '@loginID'
              });
        </script>*@

    @if (Request.IsAuthenticated)
    {
        <script>
            //session end
            var sessionTimeoutWarning = @Session.Timeout -1;

            var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
            setTimeout('SessionEnd()', sTimeout);

            function SessionEnd() {
                window.location = "/Profile/Logoff";
            }
        </script>
        <script>
            $(function () {
                $.get('/Workflow/Workflow/_getTicketCount', function (result) {
                    if (result != 0) {
                        $('#wfBadge').html(result);
                        $('#wfBadge').toggle();
                    }
                });
            });
        </script>
        if (HttpContext.Current.Session["_RFTPpopup"] != null)
        {
            <script>
                $(function () {
                    $.get('/WFM/RFTPTracking/_getNotifications', function (result) {
                        setTimeout(function () {
                            $('#notificationBody').html(result);
                            if(!$('#noPopup').length)
                                $('#notification').modal('show');
                        }, 250);
                    });
                });
            </script>
        }
    }

    @RenderSection("myScripts", false)
</body>
</html>