@model Aion.ViewModels.HomeVm

@{
    ViewBag.Title = "Workforce Management";
    var firstNews = true;
}

<div class="container-fluid">
    @if (Request.IsAuthenticated)
    {
        <div class="row justify-content-end mb-2">
            <div>
                @Html.Partial("~/Views/Shared/_selectMenu.cshtml")
            </div>
        </div>
    }
    @Html.Partial("~/Views/Home/Partials/_ScoreSummary.cshtml")

    <div class="card mb-2">
        <div class="card-header text-center">
            <strong>Future Planning</strong>
        </div>
        <div class="card-body">
            <div class="row mx-0">
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <div class="row">
                        <div class="col-8 text-center"><p class="mb-0" style="font-size:large;"><strong>Are we recruited right?</strong></p></div>
                        <div class="col-4"><a class="btn btn-info" href="@Url.Action("RecruitmentStatus", "FuturePlanning", new { area = "WFM" })">Show me</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <div class="row">
                        <div class="col-8 text-center"><p class="mb-0" style="font-size:large;"><strong>Are we deployed well?</strong></p></div>
                        <div class="col-4"><a class="btn btn-info" href="@Url.Action("DeploymentStatus", "FuturePlanning", new { area = "WFM" })">Show me</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <div class="row">
                        <div class="col-8 text-center"><p class="mb-0" style="font-size:large;"><strong>Is holiday controlled?</strong></p></div>
                        <div class="col-4"><a class="btn btn-info" href="@Url.Action("DeploymentStatus", "FuturePlanning", new { area = "WFM", adv = true })">Show me</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.TopNews.Any() && !(bool)HttpContext.Current.Session["_ROIFlag"])
    {
        <div class="card">
            <div class="card-header pt-2 pb-1">
                <h5 class="card-title"><strong>News</strong></h5>
            </div>
            <div class="card-body">
                @foreach (var item in Model.TopNews)
                {
                    if (firstNews == false)
                    {
                        <hr />
                    }
                    <h4 style="color:#279399"><u><strong>@string.Format("{0} - {1:d}", item.ActivityName, item.ActivityDate)</strong></u></h4>
                    @item.Detail
                    firstNews = false;
                }
                <a href="@Url.Action("NewsArchive", "Home", new { area = "" })" class="btn btn-info btn-lg float-right mt-2" role="button">View Archive</a>
            </div>
        </div>
    }
</div>