@model Aion.ViewModels.HomeVm

@{
    ViewBag.Title = "Workforce Management";
    var firstNews = true;
    var accessLvl = HttpContext.Current.Session["_AccessLevel"] != null ? (byte)HttpContext.Current.Session["_AccessLevel"] : 0;
}

<div class="container-fluid">
    @*<div class="alert alert-info">
            <strong>GM Access: </strong>
            We are currently aware of an issue affecting Store Manager's ability to access restricted pages. This is currently being investigated, we apologise for any inconvenience.
        </div>*@
    @if (Request.IsAuthenticated)
    {
        if (HttpContext.Current.Session["_showHelper"] != null)
        {
            if ((bool)HttpContext.Current.Session["_showHelper"])
            {
                <div id="newHelper" class="modal fade in bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-show="true">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center" role="document">
                            <div class="modal-content modal-content-center">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title" id="mySmallModalLabel">New website layout</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="text-center modal-body">
                                    <h4>Welcome to the new look WFM website!</h4>
                                    <p>This upgrade will provide a new navigation bar creating an improved user experience along with allowing visibility for higher level detail for example - Store to Regional View, Region to Divisional</p>
                                    <p>
                                        For the first 3 log in’s to the new Website, colleagues will see a short PDF guide of the navigational changes to support. <br />The new Website will now provide us with the ability to make upgrades to your existing tools along with launching new tools in the future for Retail
                                    </p>
                                    <a href="@Url.Action("Documents","Home", new { area = "", f = "NewWebsiteNavigation.pdf"})" target="_blank" class="btn btn-lg btn-info mx-auto">Guide</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="row justify-content-end mb-2">
            <div>
                @Html.Partial("~/Views/Shared/_selectMenu.cshtml")
            </div>
        </div>
    }
    @Html.Partial("~/Views/Home/Partials/_ScoreSummary.cshtml")

    @if (accessLvl >= 2)
    {
        <div class="card mb-2">
            <div class="card-header text-center">
                <strong>Future Planning</strong>
            </div>
            <div class="card-body">
                <div class="row mx-0">
                    <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <div class="row">
                            <div class="col-8 text-center"><p class="mb-0" style="font-size:large;"><strong>Are we recruited right?</strong></p></div>
                            <div class="col-4"><a class="btn btn-info" href="@Url.Action("RecruitmentStatus", "FuturePlanning", new { area = "WFM" })">Show me</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <div class="row">
                            <div class="col-8 text-center"><p class="mb-0" style="font-size:large;"><strong>Are we deployed well?</strong></p></div>
                            <div class="col-4"><a class="btn btn-info" href="@Url.Action("DeploymentStatus", "FuturePlanning", new { area = "WFM" })">Show me</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <div class="row">
                            <div class="col-8 text-center"><p class="mb-0" style="font-size:large;"><strong>Is holiday controlled?</strong></p></div>
                            <div class="col-4"><a class="btn btn-info" href="@Url.Action("DeploymentStatus", "FuturePlanning", new { area = "WFM", adv = true })">Show me</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.TopNews.Any() && !(bool)HttpContext.Current.Session["_ROIFlag"])
    {
        <div class="card">
            <div class="card-header text-center">
                <strong>News</strong>
            </div>
            <div class="card-body">
                @foreach (var item in Model.TopNews)
                {
                    if (firstNews == false)
                    {
                        <hr />
                    }
                    <h4 style="color:#279399"><u><strong>@string.Format("{0} - {1:d}", item.ActivityName, item.ActivityDate)</strong></u></h4>
                    @Html.Raw(item.Detail)
                    firstNews = false;
                }
                <a href="@Url.Action("NewsArchive", "Home", new { area = "" })" class="btn btn-info btn-lg float-right mt-2" role="button">View Archive</a>
            </div>
        </div>
    }
</div>

@section myScripts{
    @if (Request.IsAuthenticated)
    {
        if (HttpContext.Current.Session["_showHelper"] != null)
        {
            if ((bool)HttpContext.Current.Session["_showHelper"])
            {
                HttpContext.Current.Session["_showHelper"] = false;
                <script>
                $(function () {
                    $('#newHelper').modal('show');
                });
                </script>
            }
        }
    }
}