@model List<Aion.DAL.Entities.Activity>

@{
    ViewBag.Title = "News Archive";
    var i = 1;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header text-center">
            <strong>News, Actions and Events</strong>
        </div>
        <div class="card-body">
            <div id="accordion">
                @foreach (var item in Model)
                {
                    <div class="card mb-2">
                        <div class="card-header">
                            <strong>
                                <a role="button" data-toggle="collapse" href="@("#collapse" + i)">
                                    @string.Format("{0} ({1:d})", item.ActivityName, item.ActivityDate)
                                </a>
                            </strong>
                        </div>
                        <div id="@("collapse" + i)" class="collapse @(i == 1 ? "show" : "")" data-parent="#accordion">
                            <div class="card-body">
                                @Html.Raw(item.Detail)
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>

