@model Aion.Areas.WFM.ViewModels.FuturePlanning.RecruitmentStatusVm

@{ 
    var topLine = Model.ContractDetail.FirstOrDefault(x => x.StoreNumber == null);
}

<div class="card mb-3">
    <div class="card-body">
        <p class="text-center">The below exludes all Minerva stores</p>
        <table class="table table-bordered table-sm text-center" style="table-layout:fixed;">
            <thead class="thead-blue">
                <tr>
                    <th></th>
                    @*<th>Rank</th>*@
                    <th>Under Base</th>
                    <th>Hours Under Base</th>
                    <th>Under without enough vacancies</th>
                    <th>Hours to Raise</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ContractDetail.Where(x => x.StoreNumber != null))
                {
                    <tr>
                        <td class="text-left">@string.Format("{0} - {1}", item.StoreNumber, item.StoreName)</td>
                        @*<td>-</td>*@
                        <td class="@(item.UnderBase == 1 ? "table-warning" : "")">@item.UnderBase</td>
                        <td>@item.HoursUnderBase</td>
                        <td class="@(item.VacancyUnderBase == 1 ? "table-danger" : "")">@item.VacancyUnderBase</td>
                        <td>@item.VacancyHoursToRaise</td>
                    </tr>
                }                
                <tr>
                    <td class="text-left"><strong>@topLine.Region Total</strong></td>
                    @*<td><strong>-</strong></td>*@
                    <td><strong>@topLine.UnderBase</strong></td>
                    <td><strong>@topLine.HoursUnderBase</strong></td>
                    <td><strong>@topLine.VacancyUnderBase</strong></td>
                    <td><strong>@topLine.VacancyHoursToRaise</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

