@model Aion.Areas.WFM.ViewModels.RFTP.CompDetailVm

@{ 
    var subtotal = Model._chainView.Single(x => x.Region == null);
}

<div class="row">
    <div class="card">
        <div class="card-header text-center">
            <strong>Overview</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered thead-blue table-sm">
                <thead class="thead-blue">
                    <tr>
                        <th class="text-center" style="width:40%;">Name</th>
                        <th class="text-center" style="width:15%;">Zero Hour/Missing Timecard</th>
                        <th class="text-center" style="width:15%;">Edited Shifts</th>
                        <th class="text-center" style="width:15%;">Clocking Compliance</th>
                        <th class="text-center" style="width:15%;">Non Compliant</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model._chainView.Where(x => x.Region != null))
                {
                    <tr>
                        <td>Region @item.Region</td>
                        <td class="text-center">@string.Format("{0}/{1}", item.ZeroHour > 0 ? item.ZeroHour.ToString() : "-", item.TotalHeadCount - item.TimeCardsCompleted > 0 ? (item.TotalHeadCount - item.TimeCardsCompleted).ToString() : "-")</td>
                        <td class="text-center">@item.ShortShifts</td>
                        <td class="text-center">@string.Format("{0:0.0}%", item.PunchCompliance * 100)</td>
                        <td class="text-center">@string.Format("{0}/{1}", item.ComplianceScore, item.StoreCount)</td>
                    </tr>
                }
                <tr>
                    <td><strong>Division Total</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ZeroHour > 0 ? subtotal.ZeroHour.ToString() : "-", subtotal.TotalHeadCount - subtotal.TimeCardsCompleted > 0 ? (subtotal.TotalHeadCount - subtotal.TimeCardsCompleted).ToString() : "-")</strong></td>
                    <td class="text-center"><strong>@subtotal.ShortShifts</strong></td>
                    <td class="text-center"><strong>@string.Format("{0:0.0}%", subtotal.PunchCompliance * 100)</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ComplianceScore, subtotal.StoreCount)</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

