@model Aion.Areas.WFM.ViewModels.RFTP.CompDetailVm

@{ 
    var chainTotal = Model._chainView.Single(x => x.Division == null);
}

<div class="row">
    <div class="card">
        <div class="card-header text-center">
            <strong>Overview</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm">
                <thead class="thead-blue">
                    <tr>
                        <th class="text-center" style="width:40%;">Name</th>
                        <th class="text-center" style="width:15%;">Zero Hour/Missing Timecard</th>
                        <th class="text-center" style="width:15%;">Edited Shifts</th>
                        <th class="text-center" style="width:15%;">Punch Compliance</th>
                        <th class="text-center" style="width:15%;">Non Compliant</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="table-chain">
                    <td><strong>@chainTotal.StoreFlag</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", chainTotal.ZeroHour > 0 ? chainTotal.ZeroHour.ToString() : "-", chainTotal.TotalHeadCount - chainTotal.TimeCardsCompleted > 0 ? (chainTotal.TotalHeadCount - chainTotal.TimeCardsCompleted).ToString() : "-")</strong></td>
                    <td class="text-center"><strong>@chainTotal.ShortShifts</strong></td>
                    <td class="text-center"><strong>@string.Format("{0:0.0}%", chainTotal.PunchCompliance * 100)</strong></td>
                    <td class="text-center"><strong>@string.Format("{0}/{1}", chainTotal.ComplianceScore, chainTotal.StoreCount)</strong></td>
                </tr>
                @foreach (var division in Model._chainView.Where(x => x.Division != null && x.Region == null))
                {
                    <tr class="table-division">
                        <td>@division.Division</td>
                        <td class="text-center">@string.Format("{0}/{1}", division.ZeroHour > 0 ? division.ZeroHour.ToString() : "-", division.TotalHeadCount - division.TimeCardsCompleted > 0 ? (division.TotalHeadCount - division.TimeCardsCompleted).ToString() : "-")</td>
                        <td class="text-center">@division.ShortShifts</td>
                        <td class="text-center">@string.Format("{0:0.0}%", division.PunchCompliance * 100)</td>
                        <td class="text-center">@string.Format("{0}/{1}", division.ComplianceScore, division.StoreCount)</td>
                    </tr>
                    foreach (var region in Model._chainView.Where(x => x.Division == division.Division && x.Region != null))
                     {
                         <tr>
                             <td>@region.Region</td>
                             <td class="text-center">@string.Format("{0}/{1}", region.ZeroHour > 0 ? region.ZeroHour.ToString() : "-", region.TotalHeadCount - region.TimeCardsCompleted > 0 ? (region.TotalHeadCount - region.TimeCardsCompleted).ToString() : "-")</td>
                             <td class="text-center">@region.ShortShifts</td>
                             <td class="text-center">@string.Format("{0:0.0}%", region.PunchCompliance * 100)</td>
                             <td class="text-center">@string.Format("{0}/{1}", region.ComplianceScore, region.StoreCount)</td>
                         </tr>
                     }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

