@model Aion.Areas.WFM.ViewModels.RFTP.CompDetailVm

@{ 
    var subtotal = Model._chainView.Where(x => x.Division == null).Single();
}

<div class="row">
    <div class="card panel-default">
        <div class="card-header text-center">
            <strong>Overview</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm">
                <thead class="thead-blue">
                    <tr>
                        <th class="text-center" style="width:40%;">Name</th>
                        <th class="text-center" style="width:15%;">Zero Hour/Missing Timecard</th>
                        <th class="text-center" style="width:15%;">Edited Shifts</th>
                        <th class="text-center" style="width:15%;">Punch Compliance</th>
                        <th class="text-center" style="width:15%;">Non Compliant</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model._chainView.Where(x => x.Division != null && x.Region == null))
                    {
                        <tr>
                            <td>@item.Division</td>
                            <td class="text-center">@string.Format("{0}/{1}", item.ZeroHour > 0 ? item.ZeroHour.ToString() : "-", item.TotalHeadCount - item.TimeCardsCompleted > 0 ? (item.TotalHeadCount - item.TimeCardsCompleted).ToString() : "-")</td>
                            <td class="text-center">@item.ShortShifts</td>
                            <td class="text-center">@string.Format("{0:0.0}%", item.PunchCompliance * 100)</td>
                            <td class="text-center">@string.Format("{0}/{1}", item.ComplianceScore, item.StoreCount)</td>
                        </tr>
                    }
                    <tr>
                        <td><strong>Chain Total</strong></td>
                        <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ZeroHour > 0 ? subtotal.ZeroHour.ToString() : "-", subtotal.TotalHeadCount - subtotal.TimeCardsCompleted > 0 ? (subtotal.TotalHeadCount - subtotal.TimeCardsCompleted).ToString() : "-")</strong></td>
                        <td class="text-center"><strong>@subtotal.ShortShifts</strong></td>
                        <td class="text-center"><strong>@string.Format("{0:0.0}%", subtotal.PunchCompliance * 100)</strong></td>
                        <td class="text-center"><strong>@string.Format("{0}/{1}", subtotal.ComplianceScore, subtotal.StoreCount)</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

