@using Aion.ViewModels
@model Aion.Areas.WFM.ViewModels.MyStore.OpeningTimesVm

@{
    ViewBag.Title = "Opening Times";
}

<!-- Modal -->
<div class="modal fade" id="standardCheckModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you need to submit a change to your standard opening hours or an exceptional week? (ie. Peak, Bank Holiday)</p>
                <div id="chkQ" class="row justify-content-center">
                    <button id="chkYes" class="btn btn-info col-3 mr-3">Standard</button>
                    <button id="chkNo" class="btn btn-info col-3">Exceptional</button>
                </div>
                <h5 id="chkIncorrect" class="text-danger text-center mt-2" style="display:none;">This is not the correct form to use, please close this pop-up and use the options under the <u>'Exceptional Trading Hours'</u> header</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @if (Request.IsAuthenticated)
    {
        <div class="row justify-content-end mb-2">
            <div>
                @Html.Partial("~/Views/Shared/_selectMenu.cshtml")
            </div>
        </div>
    }
    @if (Model.MessageType == MessageType.Error)
    {
        <div class="alert alert-warning text-center">
            <strong>@Model.Message</strong>
        </div>
    }
    else
    {
        if (Model.MessageType == MessageType.Warning)
        {
            <div class="alert alert-danger text-center">
                <strong>@Model.Message</strong>
            </div>
        }
        else
        {
            <div class="card mb-3">
                <div class="card-header text-center">
                    Opening Times
                </div>
                <div class="card-body">
                    <p>Shown below are the current trading hours held for your store, including any exceptional weeks when appropriate.</p>
                    <p>Please use the 'Change Standard Trading Hours' form if you need to make a change and allow 1-2 working days for this change to be confirmed and accepted.</p>
                    <p>
                        <i>
                            <strong>
                                <u>Please Note</u>
                            </strong>: Once accepted it will take a further 1-2 working days for the CPW website to pick up the change of hours.
                        </i>
                    </p>
                </div>
            </div>
            if (Model.PeakTimes.Count != 0)
            {
                <div id="peakTimes" class="card mb-3">
                    <div class="card-header text-center">
                        <strong>Exceptional Trading Hours</strong>
                    </div>
                    <div class="card-body">
                        <p>
                            Make any corrections to the opening times by clicking the date for the relevant week, then confirm they are correct by clicking 'Accept'.<br />
                            Making a change to a previously confirmed week will 'unconfirm' the hours for that week, so they must again be confirmed by clicking 'Accept'.
                        </p>
                        <div class="table-responsive-lg">
                            <table class="table table-sm table-bordered table-smtxt">
                                <thead>
                                    <tr>
                                        <th colspan="2" rowspan="2" class="text-center">Week<br />Commencing</th>
                                        <th colspan="2" class="text-center">Sunday</th>
                                        <th colspan="2" class="text-center">Monday</th>
                                        <th colspan="2" class="text-center">Tuesday</th>
                                        <th colspan="2" class="text-center">Wednesday</th>
                                        <th colspan="2" class="text-center">Thursday</th>
                                        <th colspan="2" class="text-center">Friday</th>
                                        <th colspan="2" class="text-center">Saturday</th>
                                        <th rowspan="2" class="text-center"><br />Confirm</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach (var item in Model.PeakTimes)
                                    {
                                        <tr>
                                            <td colspan="2" style=@(item.EffectiveDate.ToShortDateString() == "25/03/2018" || item.EffectiveDate.ToShortDateString() == "01/04/2018" || item.EffectiveDate.ToShortDateString() == "24/12/2017" ? "" : "padding:15px")>
                                                @Html.ActionLink(item.EffectiveDate.ToShortDateString(), "EditPeak", new { id = item.EntryID })
                                                <br />
                                                @if (item.EffectiveDate.ToShortDateString() == "25/03/2018")
                                                {
                                                    @:<small>Good Friday</small>
                                    }
                                                else if (item.EffectiveDate.ToShortDateString() == "01/04/2018")
                                                {
                                                    @:<small>Easter Sunday</small>
                                    }
                                                else if (item.EffectiveDate.ToShortDateString() == "24/12/2017")
                                                {
                                                    @:<small>Xmas Week 2</small>
                                    }
                                            </td>

                                            <td>
                                                @(item.SundayOpen.ToString() == "00:00:00" ? "Closed" : item.SundayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.SundayClose.ToString() == "00:00:00" ? "Closed" : item.SundayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.MondayOpen.ToString() == "00:00:00" ? "Closed" : item.MondayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.MondayClose.ToString() == "00:00:00" ? "Closed" : item.MondayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.TuesdayOpen.ToString() == "00:00:00" ? "Closed" : item.TuesdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.TuesdayClose.ToString() == "00:00:00" ? "Closed" : item.TuesdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.WednesdayOpen.ToString() == "00:00:00" ? "Closed" : item.WednesdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.WednesdayClose.ToString() == "00:00:00" ? "Closed" : item.WednesdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.ThursdayOpen.ToString() == "00:00:00" ? "Closed" : item.ThursdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.ThursdayClose.ToString() == "00:00:00" ? "Closed" : item.ThursdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.FridayOpen.ToString() == "00:00:00" ? "Closed" : item.FridayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.FridayClose.ToString() == "00:00:00" ? "Closed" : item.FridayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.SaturdayOpen.ToString() == "00:00:00" ? "Closed" : item.SaturdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.SaturdayClose.ToString() == "00:00:00" ? "Closed" : item.SaturdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>

                                                @if (item.Status == "PeakPending")
                                                {
                                                    using (Html.BeginForm("AcceptPeak", "MyStore", FormMethod.Post, new { id = "acceptForm" + item.EntryID }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.Hidden("id", item.EntryID)
                                                        <a onclick="ScrollSave" class="btn btn-warning btn-sm" href='@string.Format("javascript:document.getElementById('acceptForm{0}').submit()", item.EntryID)' , new { id=@item.EntryID })">Accept</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="btn btn-success btn-sm">Confirmed</div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        }
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Standard Trading Hours</strong>
                </div>
                <div id="0" class="text-center card-body">
                    @if (Model.Collection != null)
                    {
                        <div class="table-responsive-lg">
                            <table class="table table-bordered table-sm table-smtxt">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">Sunday</th>
                                        <th colspan="2" class="text-center">Monday</th>
                                        <th colspan="2" class="text-center">Tuesday</th>
                                        <th colspan="2" class="text-center">Wednesday</th>
                                        <th colspan="2" class="text-center">Thursday</th>
                                        <th colspan="2" class="text-center">Friday</th>
                                        <th colspan="2" class="text-center">Saturday</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @(Model.CurrentTime.SundayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.SundayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.SundayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.SundayClose.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.MondayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.MondayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.MondayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.MondayClose.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.TuesdayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.TuesdayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.TuesdayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.TuesdayClose.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.WednesdayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.WednesdayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.WednesdayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.WednesdayClose.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.ThursdayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.ThursdayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.ThursdayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.ThursdayClose.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.FridayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.FridayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.FridayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.FridayClose.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.SaturdayOpen.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.SaturdayOpen.ToString("hh\\:mm"))
                                        </td>
                                        <td>
                                            @(Model.CurrentTime.SaturdayClose.ToString() == "00:00:00" ? "Closed" : Model.CurrentTime.SaturdayClose.ToString("hh\\:mm"))
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <btn id="standardSubmit" class="btn btn-primary">Change Standard Trading Hours</btn> @*href="@Url.Action("NewOpeningTime", "MyStore")"*@
                        </div>
                    }
                </div>
            </div>
            if (Model.PendingTimes.Count != 0)
            {
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <strong>Pending Changes</strong>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-lg">
                            <table class="table table-bordered table-sm table-smtxt text-center">
                                <thead>
                                    <tr>
                                        <th colspan="1" rowspan="2" class="text-center">Approved</th>
                                        <th colspan="2" rowspan="2" class="text-center">Effective Date</th>
                                        <th colspan="2" class="text-center">Sunday</th>
                                        <th colspan="2" class="text-center">Monday</th>
                                        <th colspan="2" class="text-center">Tuesday</th>
                                        <th colspan="2" class="text-center">Wednesday</th>
                                        <th colspan="2" class="text-center">Thursday</th>
                                        <th colspan="2" class="text-center">Friday</th>
                                        <th colspan="2" class="text-center">Saturday</th>
                                        <th rowspan="2" class="text-center">Cancel</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PendingTimes)
                                    {
                                        <tr>
                                            <td>
                                                @(item.Status.Contains("Approval") ? "No" : "Yes")
                                            </td>
                                            <td colspan="2">
                                                @(item.EffectiveDate.ToShortDateString())
                                            </td>
                                            <td>
                                                @(item.SundayOpen.ToString() == "00:00:00" ? "Closed" : item.SundayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.SundayClose.ToString() == "00:00:00" ? "Closed" : item.SundayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.MondayOpen.ToString() == "00:00:00" ? "Closed" : item.MondayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.MondayClose.ToString() == "00:00:00" ? "Closed" : item.MondayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.TuesdayOpen.ToString() == "00:00:00" ? "Closed" : item.TuesdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.TuesdayClose.ToString() == "00:00:00" ? "Closed" : item.TuesdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.WednesdayOpen.ToString() == "00:00:00" ? "Closed" : item.WednesdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.WednesdayClose.ToString() == "00:00:00" ? "Closed" : item.WednesdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.ThursdayOpen.ToString() == "00:00:00" ? "Closed" : item.ThursdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.ThursdayClose.ToString() == "00:00:00" ? "Closed" : item.ThursdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.FridayOpen.ToString() == "00:00:00" ? "Closed" : item.FridayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.FridayClose.ToString() == "00:00:00" ? "Closed" : item.FridayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.SaturdayOpen.ToString() == "00:00:00" ? "Closed" : item.SaturdayOpen.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                @(item.SaturdayClose.ToString() == "00:00:00" ? "Closed" : item.SaturdayClose.ToString("hh\\:mm"))
                                            </td>
                                            <td>
                                                <a href="@Url.Action("CancelChange", "MyStore", new {id = item.EntryID})">
                                                    <i class="icon ion-android-cancel"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            
    }

}
</div>

@section myScripts{
<script>
    $(function () {
        var peakExists = $('#peakTimes').length;

        $('#standardSubmit').click(function () {
            if (peakExists) {
                $('#standardCheckModal').modal('show');
            }
            else {
                window.location.href = '/WFM/MyStore/NewOpeningTime';
            };
        });

        $('#chkYes').click(function () {
            window.location.href = '/WFM/MyStore/NewOpeningTime';
        });

        $('#chkNo').click(function () {
            $('#chkQ').toggle();
            $('#chkIncorrect').toggle();
        });
    });
</script>    
}