@model Aion.Areas.Admin.ViewModels.Recruitment.RecruitmentSummaryVm

@{
    ViewBag.Title = "Recruitment";
    int previousStore = 0;
    string previousChain = "";
    int previousRole = 0;
}

<div class="modal fade" id="toRaiseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">To Be Raised</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="mBody" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="mUnapprove" type="button" class="btn btn-warning">Unapprove</button>
                <button id="mHold" type="button" class="btn btn-warning mr-5">Put on Hold</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="mSubmit" type="button" class="btn btn-primary">Submit</button>                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="accordion" class="card-accordion">
        <div class="card">
            <div class="card-header" id="headerOne">
                <button class="btn btn-link" data-toggle="collapse" data-target="@(Model.IncorrectCount > 0 ? "#collapseOne" : "")">Incorrect Requests to Delete - <strong id="incorrectCount">(@Model.IncorrectCount)</strong></button>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive" style="max-height:500px;">
                        <table class="table table-sm text-center">
                            <thead>
                                <tr>
                                    <th>Req#</th>
                                    <th>Company</th>
                                    <th>Store#</th>
                                    <th>Location</th>
                                    <th>Job Role</th>
                                    <th>Raising Name</th>
                                    <th>Confirm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.IncorrectVacancies)
                                {
                                    <tr>
                                        <td><small>@item.Job_Req_ID</small></td>
                                        <td><small>@item.Company</small></td>
                                        <td><small>@item.Store_Number</small></td>
                                        <td><small>@item.Location</small></td>
                                        <td><small>@item.Job_Role</small></td>
                                        <td><small>@item.Created_by</small></td>
                                        <td>
                                            <button class="btn btn-sm btn-success incorrect-delete" data-raisedby="@item.Created_by" data-jobreqid="@item.Job_Req_ID">Confirm</button>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headerTwo">
                <button class="btn btn-link" data-toggle="collapse" data-target="@(Model.ReviewCount > 0 ? "#collapseTwo" : "")">Requests To Review - <strong>(@Model.ReviewCount)</strong></button>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive" style="max-height:500px;">
                        <table class="table table-sm text-center">
                            <thead>
                                <tr>
                                    <th>Raised</th>
                                    <th>Ref#</th>
                                    <th>Chain</th>
                                    <th>Store#</th>
                                    <th>Position</th>
                                    <th>Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ToReview)
                                {
                                    <tr class="@((previousStore == item.StoreNumber && previousChain == item.Chain && previousRole == item.PositionCode) ? "no-border" : "") @(item.PostedBy == "On Hold" ? "table-warning" : (item.RaisedDate < DateTime.Now.AddDays(-1) ? "table-danger" : "")))">
                                        <td><small>@item.RaisedDate.ToShortDateString()</small></td>
                                        <td><small>@item.EntryId</small></td>
                                        <td><small>@item.Chain</small></td>
                                        <td><small>@item.StoreNumber</small></td>
                                        <td><small>@item.VacancyPosition.FriendlyName</small></td>
                                        @if (!(previousStore == item.StoreNumber && previousChain == item.Chain && previousRole == item.PositionCode))
                                        {
                                            <td rowspan="@Model.ToReview.Count(x => x.Chain == item.Chain && x.StoreNumber == item.StoreNumber && x.PositionCode == item.PositionCode)"><a href="@Url.Action("ReviewPending", "Recruitment", new { Chain = item.Chain, StoreNumber = item.StoreNumber, PositionCode = item.PositionCode})" class="btn btn-sm btn-success">Go</a></td>
                                        }
                                    </tr>
                                    previousStore = item.StoreNumber;
                                    previousChain = item.Chain;
                                    previousRole = item.PositionCode;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headerThree">
                <button class="btn btn-link" data-toggle="collapse" data-target="@(Model.RaiseCount > 0 ? "#collapseThree" : "")">To be Raised - <strong id="raiseCount">(@Model.RaiseCount)</strong></button>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive" style="max-height:500px;">
                        <table class="table table-sm text-center">
                            <thead>
                                <tr>
                                    <th>Chain</th>
                                    <th>Store#</th>
                                    <th>Position</th>
                                    <th>Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ToRaise)
                                {
                                    <tr id="@string.Format("{0}_{1}_{2}", item.Chain, item.Store, item.JobCode)" class="@(item.OnHold ? "table-warning" : "")">
                                        <td><small>@item.Chain</small></td>
                                        <td><small>@item.Store</small></td>
                                        <td><small>@item.FriendlyName</small></td>
                                        <td>
                                            <button 
                                                    class="btn btn-sm btn-info raiseDetail"
                                                    data-chain="@item.Chain"
                                                    data-store="@item.Store"
                                                    data-jobcode="@item.JobCode">
                                                Show Detail
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headerFour">
                <button class="btn btn-link" data-toggle="collapse" data-target="@(Model.OfferCount > 0 ? "#collapseFour" : "")">Offers to Review - <strong>(@Model.OfferCount)</strong></button>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive" style="max-height:500px;">
                        <table class="table table-sm text-center">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Store#</th>
                                    <th>Position</th>
                                    <th>Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ToOffer)
                                {
                                    <tr class="@(item.OnHold ? "table-warning" : "")">
                                        <td><small>@item.Chain</small></td>
                                        <td><small>@item.Store</small></td>
                                        <td><small>@item.FriendlyName</small></td>
                                        <td><a href="@Url.Action("ReviewOffer", new { JobReqId = item.JobReqId})" class="btn btn-sm btn-success">Go</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <p>
        Find by store number: <input id="storeNum" name="storeNum" type="number"/>
        <input id="searchSubmit" type="submit" value="Search" />
    </p>
    <div id="searchResult">
        
    </div>
    <form id="backToReviewFrm" action="/Admin/Recruitment/RejectedToReview" method="post" class="d-none">
        <input id="entryId" name="entryId" value="" hidden/>
    </form>
    <div id="searchProgress" class="progress w-100 d-none">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"></div>
    </div>
</div>

@section myScripts{
    <script>
        $(function () {
            var $mBody = $('#mBody');
            var incorrectCount = @Model.IncorrectCount;
            var toRaiseCount = @Model.RaiseCount;
            var $raiseCount = $('#RaiseCount');
            var $incorrectCount = $('#incorrectCount');

            $('.incorrect-delete').click(function () {
                window.location.href = "mailto:" + $(this).data('raisedby') + "?subject=About%20Your%20Vacancy%20Request%20On%20MyHub&body=Hi,%0D%0A%0D%0AWe've%20noticed%20you've%20created%20a%20Retail%20Non-Management%20vacancy%20on%20MyHub%20rather%20than%20the%20WFM%20website.%0D%0A%0D%0AAll%20Retail%20Non-Management%20vacancies%20need%20to%20be%20requested%20on%20the%20WFM%20website%20so%20we've%20cancelled%20the%20request%20on%20MyHub.%20Please%20visit%20the%20WFM%20website%20to%20re-request%20it.%0D%0A%0D%0ACPW%20WFM%20Website:%20https://cpwwfm.dixonscarphone.com%0D%0A%0D%0ADixons%20WFM%20Website:%20http://dhvcimm-web02.dixons.co.uk/DsgRetail/microsites/tapp.aspx%0D%0A%0D%0AMany%20Thanks,%0D%0AWFM%20Team";
                var reqId = $(this).data('jobreqid');
                var $tRow = $(this).parent().parent();
                $.post('/Admin/Recruitment/_MarkIncorrectDone', { jobReqId: reqId}, function (result) {
                    setTimeout(function () {
                        if (result) {
                            $tRow.html('<td colspan="6" class="text-center"><strong>Done</strong></td>');
                            incorrectCount--;
                            $incorrectCount = incorrectCount;
                        };
                    }, 250);
                });                
            });

            $('.raiseDetail').click(function () {
                var $trigger = $(this);
                $trigger.html('Loading...');
                var chain = $(this).data('chain');
                var store = $(this).data('store');
                var jobcode = $(this).data('jobcode');
                $.get('/Admin/Recruitment/_GetToPost', { chain: chain, store: store, jobcode: jobcode }, function (result) {
                    setTimeout(function () {
                        if (result) {
                            $('#mBody').html(result);
                            $('#toRaiseModal').modal('toggle');
                            $trigger.html('Show Detail');
                            toRaiseCount--;
                            $raiseCount = toRaiseCount;
                        } else {
                            $trigger.html('<i class="icon ion-sad-outline"></i>');
                        };
                    }, 250);
                });
            });

            $('#mSubmit').click(function () {
                var ref = $mBody.find('#mRef').val();
                var type = $mBody.find('#mType').val();
                if (ref.length && type.length) {
                    var chain = $mBody.find('#mChain').val();
                    var store = $mBody.find('#mStore').val();
                    var jobcode = $mBody.find('#mJobCode').val();

                    $.post('/Admin/Recruitment/_UpdateToPost', { chain: chain, store: store, jobcode: jobcode, SFRef: ref, contract: type }, function (result) {
                        setTimeout(function () {
                            if (result) {
                                $('#' + chain + '_' + store + '_' + jobcode).html('<td colspan="6" class="text-center"><strong>Done</strong></td>');
                                $('#toRaiseModal').modal('toggle');
                                $mBody.html('');
                            };
                        }, 250);
                    });
                };                
            });

            $('#mHold').click(function () {
                var chain = $mBody.find('#mChain').val();
                var store = $mBody.find('#mStore').val();
                var jobcode = $mBody.find('#mJobCode').val();

                $.post('/Admin/Recruitment/_HoldToPost', { chain: chain, store: store, jobcode: jobcode}, function (result) {
                    setTimeout(function () {
                        if (result) {
                            $('#' + chain + '_' + store + '_' + jobcode).addClass('table-warning');
                            $('#toRaiseModal').modal('toggle');
                            $mBody.html('');
                        };
                    }, 250);
                });         
            });

            $('#mUnapprove').click(function(){
                $('#frmUnapprove').submit();
            });

            $('#searchSubmit').click(function(){
                $('#searchResult').html('');
                $('#searchProgress').removeClass('d-none');
                var store = $('#storeNum').val();
                $.post('/Admin/Recruitment/_SearchHistoric', {storenumber: store}, function(result){
                    setTimeout(function(){
                        $('#searchProgress').addClass('d-none');
                        $('#searchResult').html(result);
                    },250);
                });
            });

            $('#searchResult').on('click', '.backToReview', function(){
                var entryId = $(this).data('entryid');
                $('#backToReviewFrm').find('#entryId').val(entryId);
                $('#backToReviewFrm').submit();
            });
        });
    </script>
}