
@{
    ViewBag.Title = "RFTP Guide";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header text-center">
            <strong>Right First Time Pay</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4 col-12 mb-2"><a style="font-size:26px;" class="btn btn-info btn-lg btn-block px-2 py-0" href="@Url.Action("Documents","Home", new { area = "", f = "RFTPWhat.pdf"})" target="_blank">What</a></div>
                <div class="col-sm-4 col-12 mb-2"><a style="font-size:26px;" class="btn btn-info btn-lg btn-block px-2 py-0" href="@Url.Action("Documents","Home", new { area = "", f = "RFTPWhy.pdf"})" target="_blank">Why</a></div>
                <div class="col-sm-4 col-12"><a style="font-size:26px;" class="btn btn-info btn-lg btn-block px-2 py-0" href="@Url.Action("Documents","Home", new { area = "", f = "RFTPHow.pdf"})" target="_blank">How</a></div>
                <div class="col-sm-4 col-sm-offset-2 col-12"><a style="font-size:26px;" class="btn btn-danger btn-lg btn-block px-2 py-0" href="@Url.Action("Documents","Home", new { area = "", f = "RFTPColleagueLetter.pdf" })" target="_blank">Colleague Letter</a></div>
                <div class="col-sm-4 col-12"><a style="font-size:26px;" class="btn btn-danger btn-lg btn-block px-2 py-0" href="@Url.Action("Fallback","RFTP", new { area = "WFM" })" target="_blank">Contingency</a></div>
            </div>
        </div>
    </div>
</div>

