@model Aion.Areas.WFM.ViewModels.RFTPTracking.IDDVm

@{
    ViewBag.Title = "IDD";
    string historicList = "";
    string failList = "";
    bool actionPlan = false;

    if (Model.historicCases.Any())
    {
        foreach (var item in Model.historicCases.Where(x => !x.Reassign).OrderBy(x => x.Year).ThenBy(x => x.Period))
        {
            historicList += string.Format("P{0} {1}", item.Period, item.Year);
            if (item.Override)
            {
                historicList += " <small>(Overridden)</small>";
            }
            historicList += ", ";
        }
        historicList = historicList.Substring(0, historicList.Length - 2);

        actionPlan = Model.historicCases.Where(x => !x.Override && x.Stage == 1).FirstOrDefault().Year == "18/19";
    }

    if (Model.lastPeriod != null)
    {
        if (Model.lastPeriod.PunchCompliance == 0)
        {
            failList += "Clocking, ";
        }
        if (Model.lastPeriod.TCComp == 0)
        {
            failList += "Timecard Sign Off, ";
        }
        if (Model.lastPeriod.ShortShiftCompliance == 0)
        {
            failList += "Edited Clocks, ";
        }
        failList = failList.Substring(0, failList.Length - 2);
    }
}

@section myStyles{
    <link href="~/Content/idd.css" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">
    <div class="row justify-content-center d-print-none mt-3">
        <button onclick="window.print()" class="btn btn-lg btn-primary">Print IDD</button>
    </div>
    <hr class="d-print-none" />
    <div class="row d-none d-print-flex mb-3">
        <img class="mr-5" src="~/Images/dixons-logo.png" />
        <h2>Right First Time Pay - Informal Discussion Document</h2>
    </div>
    <div class="w-100 p-1" style="background-color:RGB(0,140,168); color:white;"><h4>Informal Discussion Document</h4></div>
    <p>You can use this document to record an informal discussion with your colleague.</p>
    <p>The below checklist can be used for discussions regarding poor behaviour, misconduct or poor performance:</p>
    <table class="table table-bordered">
        <thead class="thead-teal">
            <tr class="text-center">
                <th>No.</th>
                <th>Discussion Points</th>
                <th style="width:10%;">✔</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>1</strong></td>
                <td>Discuss how the colleague’s conduct/behaviour/performance has not been reaching an acceptable standard (you can use examples such as line manager observations and customer feedback).</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2</strong></td>
                <td>Remind the colleague of your expectations.</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>3</strong></td>
                <td>Provide the colleague with the opportunity to respond and provide their views.</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>4</strong></td>
                <td>Identify any support that they may need e.g. additional training, shadowing or coaching.</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>5</strong></td>
                <td>Outline what improvements you would like to see and the timescale.</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>6</strong></td>
                <td>Clarify what happens next.</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>
        All fields must be completed:
    </p>
    <table class="table table-bordered table-sm" style="page-break-after:always;">
        <tbody>
            <tr style="height:80px;">
                <td class="w-25 table-teal"><strong>Colleague Name:</strong></td>
                <td class="w-75">@Model.empDetails.PersonName</td>
            </tr>
            <tr style="height:80px;">
                <td class="table-teal"><strong>Colleague Payroll Number:</strong></td>
                <td>@Model.empDetails.PersonNumber</td>
            </tr>
            <tr style="height:80px;">
                <td class="table-teal"><strong>Colleague Job Title:</strong></td>
                <td>@Model.empDetails.JobRole</td>
            </tr>
            <tr style="height:80px;">
                <td class="table-teal"><strong>Line Manager Name and Job Title:</strong></td>
                <td></td>
            </tr>
            <tr style="height:80px;">
                <td class="table-teal"><strong>Date:</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="row d-none d-print-flex mb-3">
        <img class="mr-5" src="~/Images/dixons-logo.png" />
        <h2>Right First Time Pay - Informal Discussion Document</h2>
    </div>
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <td class="w-25 table-teal"><h5><strong>Reason for discussion:<br /><br />(full details)</strong></h5></td>
                <td class="w-75">
                    <ul>
                        <li>As a store manager the responsibility sits fully with you to ensure that your team is paid correctly by meeting all 3 of the Right First Time Pay controls each week (including periods of planned absence).</li>
                        <li>It is your responsibility to set expectations with your colleagues around clocking in / out and to manage any poor behaviours.</li>
                        <li>It is your responsibility to ensure you have a robust plan in place to be compliant with timecard signoff when you are out of the business. This includes appointing & training a second user and holding them accountable in your absence.</li>
                        <li>
                            It is your responsibility to seek support if anything is unclear or has gone wrong. The following avenues of support are available to you:
                            <ul>
                                <li>The briefing packs section on the WFM website which contains all relevant process guides as well as documents to assist you in briefing your colleagues.</li>
                                <li>Your WFM Lead for guidance on the Right First Time Pay controls and what you need to do to stay compliant</li>
                                <li>Your TPC for help with STAR processes</li>
                                <li>IT for any technical issues</li>
                                <li>Your RM for support in managing your team and for escalations</li>
                            </ul>
                        </li>
                        <li>
                            The 3 Right First Time Pay Controls are:
                            <ul>
                                <li>90% Clocking Compliance</li>
                                <li>100% Timecard Signoff by deadline</li>
                                <li>1 or fewer edited clocks each week.</li>
                            </ul>
                        </li>
                        <li>Last period, you were non-compliant against the Right First Time Pay controls for a 2nd period.</li>
                        @if (Model.lastPeriod != null)
                        {
                            <li>
                                The controls you failed to meet last period were:<br />
                                <strong>@failList</strong>
                            </li>
                        }
                        @if (Model.historicCases.Any())
                        {
                            <li>
                                You were non-compliant during:<br />
                                <strong>@Html.Raw(historicList)</strong>
                            </li>
                        }
                        @if (actionPlan)
                        {
                            <li>The actions that were generated from the self-assessment you completed after your last period of non-compliance are attached. Have these all been completed? If not, what have been the barriers to completion ?</li>
                        }
                        else
                        {
                            <li>When you were previously non-compliant you would have had a support phone call with your TPC to help you resolve any challenges you might have had.  Can you recall this conversation?</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="w-25 table-teal"><h5><strong>Outcome / Next steps:<br /><br />(full details)</strong></h5></td>
                <td class="w-75">
                    <i><strong>What are the challenges that are preventing you from being compliant for Right First Time Pay?</strong></i>
                    <p style="height:200px;"></p>
                    <p class="mb-3"><i><strong>Agreed next steps:</strong></i></p>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Who</th>
                                <th>When</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&emsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="table-teal"><h5><strong>Outcome Review:<br /><br />(set date)</strong></h5></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>This is an accurate reflection of the conversation:</p>
    <p>Manager signature: .........................................................</p>
    <p>Colleague signature: .......................................................</p>
</div>